---
layout: default
home: true
---

<div class="home">
    <ul class="post-list">
        {% if site.pagination %}
            {% assign source = paginator.posts %}
        {% else %}
            {% assign source = site.posts %}
        {% endif %}

        {% for post in source %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
                <div class="post-list-info">
                    <h2 class="post-list-title">{{ post.title }}</h2>
                    <span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                </div>
            </a>

            {% if post.backgrounds %}
                <img src="{{ post.backgrounds | prepend: site.baseurl }}" class="post-list-thumb" alt="{{ post.title }}" />
            {% else %}
                <!-- Use a random default thumbnail if post.thumb is not set -->
                {% assign random_thumb = site.default_thumbnails | sample %}
                <img src="{{ random_thumb | prepend: site.baseurl }}" class="post-list-thumb" alt="Default thumbnail" />
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <!-- Uncomment the section below to enable RSS feed subscription -->
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            Subscribe via RSS
            <i class="icon ion-social-rss"></i>
        </a>
    </p> -->

    <!-- 添加卜算子功能 -->
    <!-- <div class="site-info mt-2">
        <div align="center">
          <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
          <span id="busuanzi_container_site_pv">
              Total <span id="busuanzi_value_site_pv"><i class="fas fa-spinner fa-pulse"></i></span> views,
          </span>
          <span id="busuanzi_container_site_uv">
              <span id="busuanzi_value_site_uv"><i class="fas fa-spinner fa-pulse"></i></span> visitors.
          </span>
        </div>
      </div> -->
<!-- 建站时间2022/10/5 -->
<!-- 备案号：浙ICP备2022025879号-1 -->
<!-- <a href="https://beian.miit.gov.cn/" target="_blank"><img src="https://img.shields.io/badge/%E6%B5%99ICP%E5%A4%87-2022025879%E5%8F%B7-lightblue"></a>
<a href="https://s.qiniu.com/6VZn6f" target="_blank"><img src="https://img.shields.io/badge/%E4%BA%91%E5%82%A8%E5%AD%98-%E4%B8%83%E7%89%9B%E4%BA%91-yellowgreen"></a> -->
<!-- #### 建站时间 --> 
<div align="center">
<p>
    <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
</p>
</div>    
    <script>
        var now = new Date(); 
        function createtime() { 
            var grt= new Date("05/10/2022 17:38:00");//在此处修改你的建站时间
            now.setTime(now.getTime()+250); 
            days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
            hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
            if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
            mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
            seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
            snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
            document.getElementById("timeDate").innerHTML = "小破站在风雨中飘摇了"+dnum+" 天 "; 
            document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
        } 
    setInterval("createtime()",250);
    </script>
</div>
