<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | replace: ' ', '%20' }}{% else %}{{ site.description }}{% endif %}">

    <!-- Google Fonts -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700italic,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700"> -->

    <link rel="stylesheet" href="https://blog.wangyunzi.com/json/family=Merriweather.css">
    <link rel="stylesheet" href="https://blog.wangyunzi.com/json/family=Lato.css">
    <link rel="stylesheet" href="https://blog.wangyunzi.com/json/family=Source.css">

    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="/assets/css/fonts/all.min.css"> -->
    <link rel="stylesheet" href="https://blog.wangyunzi.com/json/fontawesome6.6.min.css">

    <!-- <link rel="stylesheet" href="/assets/css/fonts/font-awesome.min.css"> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/assets/css/vendors/slidebars.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendors/rrssb.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/base.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/layout.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/loader.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax-highlighting.css" | prepend: site.baseurl }}">

    <!-- Favicon and Apple Touch Icons -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

    <!-- 添加全文搜索 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% seo %}
</head>
