{% if page.twikoo %}
<div id="tcomment"></div>
<style>
/* twikoo 评论样式 */
.twikoo {
    overflow: visible !important;
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tk-extras,
.tk-row.actions .tk-action-icon.__markdown,
.tk-preview,
.tk-content p a.at,
.tk-tag.tk-tag-green {
    display: none !important;
}


/* 使回复链接和评论内容在同一行，并始终在第一行 */
.tk-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 0 !important;
}

.tk-content-expand {
  max-height: none;
}
.tk-replies .tk-content {
  font-size: .9em;
  display: flex;
  align-items: baseline; /* 垂直对齐 */
  color: #292a2d !important;
}

.tk-content span:first-child {
    display: inline-block;
    margin-right: 1em; /* 增加间距 */
}

.tk-content p {
    margin: 0;
    text-align: left;
    flex: 1 1 auto;
}

.tk-content p a.at {
    margin-left: 0 !important;
}

.tk-nick-link {
    color: #252627 !important;
}

.tk-ruser {
    color: black;
    text-decoration: none; /* 移除下划线 */
}

.tk-replies {
    display: flex;
    flex-direction: column;
}

.tk-comment {
    margin-top: 17px !important;
}

.tk-comments-container .tk-avatar {
    margin-top: 10px;
}

/* 头像样式调整为正方形 */
.tk-avatar img {
    width: 50px; /* 设置宽度 */
    height: 50px; /* 设置高度 */
    border-radius: 0; /* 去掉圆角 */
    border: 2px solid #ddd; /* 边框 */
}

.tk-expand {
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 99;
    margin-top: -10px;
    padding: 0 !important;
    color: #292a2d !important;
}



.el-button.tk-preview {
    border: none;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-textarea__inner {
    border-color: #ccc !important;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
    color: #FFF !important;
    background-color: #252627 !important;
    border-color: #4a4b50 !important;
}

.tk-action-icon svg {
    fill: #434a56 !important;
}

.tk-comments-title .tk-icon svg {
    fill: #ccc !important;
}

.tk-action-count {
    color: #434a56 !important;
}

.el-loading-mask {
    background-color: #fff !important;
}

.dark .el-loading-mask {
    background-color: #292a2d !important;
}

.dark .tk-expand {
    background: linear-gradient(rgba(38,42,56,0), #3b3d42) !important;
}

.dark .el-button,
.dark .el-input__inner,
.dark .el-textarea__inner {
    color: silver !important;
    background-color: #252627 !important;
    border-color: #4a4b50 !important;
}

.dark .tk-meta-input .el-input .el-input-group__prepend {
    color: silver !important;
    background-color: #4a4b50 !important;
    border-color: #4a4b50 !important;
}

.dark .el-button--primary.is-disabled,
.dark .el-button--primary.is-disabled:active,
.dark .el-button--primary.is-disabled:focus,
.dark .el-button--primary.is-disabled:hover {
    color: #FFF !important;
    background-color: #252627 !important;
    border-color: #4a4b50 !important;
}

.dark .tk-action-icon svg {
    fill: #ccc !important;
}

.dark .tk-comments-title .tk-icon svg {
    fill: #4a4b50 !important;
}

.dark .tk-action-count {
    color: #ccc !important;
}

.OwO .OwO-body {
    z-index: 99;
}

.OwO .OwO-body .OwO-items-emoji .OwO-item {
    font-size: 23px !important;
}

.OwO .OwO-body .OwO-items-image .OwO-item {
    max-width: calc(20% - 10px) !important;
}

.dark .OwO-body {
    color: silver !important;
    background-color: #252627 !important;
    border-color: #4a4b50 !important;
}

.dark .OwO .OwO-body .OwO-bar {
    border-top: 1px solid #4a4b50 !important;
}

.dark .OwO .OwO-body .OwO-items .OwO-item,
.dark .OwO .OwO-body .OwO-bar {
    background: #4a4b50 !important;
    color: #ccc !important;
}

.dark .OwO .OwO-body .OwO-bar .OwO-packages li:hover,
.dark .OwO .OwO-body .OwO-items-image .OwO-item:hover,
.dark .OwO .OwO-body .OwO-bar .OwO-packages .OwO-package-active {
    background-color: #252627 !important;
}

</style>

<script src="https://blog.wangyunzi.com/json/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo.wangyunzi.com/', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
  el: '#tcomment', // 容器元素
//   region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
  // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
//   lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/twikoojs/twikoo/blob/main/src/client/utils/i18n/index.js
})
</script>
</br>
{% endif %}