/* Links (RSS circle) */
.rss-post-list {
  min-height: 680px;
  padding: 20px;
}

.rss-post-list .post-item {
  display: flex;
  margin: 20px 0;
  padding: 10px;
  border-radius: var(--radius-md);
}

.rss-post-list .post-item .post-item-thumb {
  display: block;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: var(--radius-md);
  transition: all 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rss-post-list .post-item .post-item-summary {
  margin-left: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rss-post-list .post-item .post-item-summary .post-item-title {
  font-size: 16px;
  color: rgb(46, 169, 223);
  margin-bottom: 5px;
}

.rss-post-list .post-item .post-item-summary .post-item-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 1px;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
}

.rss-post-list .post-item .post-item-summary .post-item-date {
  color: rgb(150, 150, 150);
  font-size: 14px;
  margin-bottom: 5px;
}

.rss-post-list .post-item .post-item-comment {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 40px;
  height: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(150, 215, 245);
  margin-left: auto;
  margin-top: 10px;
}

.rss-post-list .post-item .post-item-comment:hover {
  background-color: rgb(46, 169, 223);
}
