/*
   Variables
   ========================================================================== */
/*
   Mixins
   ========================================================================== */
/* ==========================================================================
   LAYOUT
   ========================================================================== */
   #sb-site {
    background-color: transparent;
    padding: 120px 0;
  }
  
  .container {
    background: #fdfdfd;
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 700px;
    z-index: 10;
  }
  
  @media screen and (max-width: 799px) {
    .container {
      background: rgba(253, 253, 253, 0.95);
      width: 100%;
    }
  }
  
  /*
     Index
     ========================================================================== */
  .home {
    padding-top: 60px;
  }
  
  .no_pagination {
    display: none;
  }
  
  .pagination {
    background: #111;
    height: 60px;
    padding: 15px 0;
  }
  
  .pagination .navigator,
  .pagination .disabled,
  .pagination .next,
  .pagination .prev {
    color: #4f4f4f !important;
    float: left;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  
  .pagination .navigator i,
  .pagination .disabled i,
  .pagination .next i,
  .pagination .prev i {
    font-size: 32px;
  }
  
  .pagination a.navigator,
  .pagination a.disabled,
  .pagination a.next,
  .pagination a.prev {
    color: #dbdbdb !important;
  }
  
  .pagination a.navigator:hover,
  .pagination a.disabled:hover,
  .pagination a.next:hover,
  .pagination a.prev:hover {
    color: #828282 !important;
  }
  
  .pagination .next {
    float: right;
  }
  
  .pagination .disabled {
    color: #4f4f4f !important;
  }
  
  .post-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    list-style: none;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .post-list>li {
    border: 10px solid transparent;
    color: #eee;
    flex-grow: 1;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 46%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .post-list>li:last-child {
    margin-bottom: 60px;
  }
  
  .post-list>li:hover {
    border-color: #dbdbdb;
  }
  
  .post-list>li .post-list-link {
    background: rgba(17, 17, 17, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .post-list>li .post-list-link:hover {
    background: rgba(17, 17, 17, 0.25);
  }
  
  .post-list>li .post-list-link .post-list-info {
    bottom: 15px;
    padding: 0 15px;
    position: absolute;
    text-shadow: 1px 1px 10px #111;
    text-transform: uppercase;
  }
  
  .post-list>li .post-list-link .post-list-info .post-list-title {
    color: #eee;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 4px;
    line-height: 135%;
    margin: 0;
  }
  
  .post-list>li .post-list-link .post-list-info .post-list-meta {
    color: #cfcfcf;
    font-family: "Lato", sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .post-list>li .post-list-thumb {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .rss-subscribe {
    text-align: center;
  }
  
  /*
     Archive
     ========================================================================== */
  .post-archive-year {
    color: #4f4f4f;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  .post-archive {
    list-style: none;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .post-archive>li a {
    font-size: 24px;
  }
  
  /*
     Post
     ========================================================================== */
  .post-header {
    padding: 60px 0;
  }
  
  .post-reading-time {
    color: #4f4f4f;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 0;
    padding-top: 60px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .post-thumb {
    height: 200px;
    margin: 0 auto 60px auto;
    object-fit: cover;
    position: relative;
    width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  
  .post-title {
    font-size: 42px;
    font-style: italic;
    letter-spacing: 8px;
    line-height: 135%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
  
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px;
      letter-spacing: 4px;
    }
  }
  
  .post-content {
    /* font-family: monospace, monospace; */
    font: 400 14px/1.6 -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    font-size: 1em;
    margin-bottom: 60px;
    line-height: 2;
    overflow-wrap: break-word; /* 自动换行 */
    width: 100%; /* 设置容器宽度 */
    margin-top: 20px;
    display: block; /* 确保每个链接都在单独的一行显示 */
    text-decoration: none; /* 去掉默认下划线 */
  }

  
  .post-content br {
    content: "";
    display: block ; /* 强制换行 */
  }

  .post-content strong {
    padding: 2px 4px;
    background-color: #fce4ec; /* 明亮的马克笔颜色 */
    color: #000; /* 字体颜色 */
    font-weight: bold; /* 加粗字体 */
    font-family: 'Arial', sans-serif; /* 清晰的字体 */
    position: relative; /* 使伪元素相对定位 */
  }
  
  .post-content strong::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fce4ec; /* 与文字背景颜色一致 */
    clip-path: polygon(0% 0%, 10% 10%, 0% 100%, 100% 100%, 90% 90%, 100% 0%); /* 不规则边缘 */
    z-index: -1; /* 将伪元素置于文字后面 */
    transform: scale(1.1); /* 放大伪元素以创建不规则边缘 */
  }

  .post-content h2 {
    font-size: 32px;
  }

  .post-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 80%;
    height: auto; /* 保持图像的纵横比 */
    border: 5px solid white; /* 添加白色边框，宽度为 5px */
    box-sizing: border-box; /* 确保边框不会影响图片的实际宽度 */
  }

  
  @media screen and (max-width: 800px) {
    .post-content h2 {
      font-size: 28px;
    }
  }
  
  .post-content h3 {
    font-size: 26px;
  }
  
  @media screen and (max-width: 800px) {
    .post-content h3 {
      font-size: 22px;
    }
  }
  
  .post-content h4 {
    font-size: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .post-content h4 {
      font-size: 18px;
    }
  }
  
  .post-meta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 2;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .post-meta .meta {
    display: inline-block;
    flex-grow: 1;
    padding-bottom: 60px;
    width: 50%;
  }
  
  @media screen and (max-width: 800px) {
    .post-meta .meta {
      float: none;
      width: 100%;
    }
  }
  
  .post-meta .meta::before {
    background: #e74c3c;
    content: "";
    display: block;
    height: 2px;
    margin-bottom: 20px;
    width: 40px;
  }
  
  .post-meta .meta .meta-title {
    color: #111;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  
  .post-meta .meta .meta-content {
    color: #111;
    font-size: 16px;
  }
  
  .post-share {
    margin-bottom: 60px;
  }
  
  .post-share .rrssb-buttons li {
    padding: 0 5px 0 0;
  }
  
  .post-share .rrssb-buttons li:last-child {
    padding-right: 0;
  }
  
  .post-share .rrssb-buttons li a {
    font-family: "Lato", sans-serif;
    border-radius: 0; /* 统一圆角设置 */
  }
  
  
  #disqus_thread {
    margin-bottom: 60px;
  }


  
  .next-post {
    background: #191919;
    color: #eee;
    height: 200px;
    position: relative;
  }
  
  .next-post .next-post-link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .next-post .next-post-link:hover {
    background: rgba(17, 17, 17, 0.25);
  }
  
  @media screen and (max-width: 800px) {
    .next-post {
      height: auto;
    }
  }
  
  .next-post .next-post-thumb {
    float: left;
    height: 200px;
    margin-right: 30px;
    object-fit: cover;
    width: 200px;
  }
  
  @media screen and (max-width: 800px) {
    .next-post .next-post-thumb {
      float: none;
      margin: 0;
      width: 100%;
    }
  }
  
  .next-post .next-post-info {
    padding: 30px;
  }
  
  @media screen and (max-width: 800px) {
    .next-post .next-post-info {
      padding: 20px;
    }
  }
  
  .next-post .next-post-info .next-story {
    color: #4f4f4f;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .next-post .next-post-info .next-post-title {
    font-size: 22px;
    font-style: italic;
    letter-spacing: 4px;
    line-height: 150%;
    margin: 0;
    padding-top: 10px;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  @media screen and (max-width: 800px) {
    .next-post .next-post-info .next-post-title {
      font-size: 20px;
      letter-spacing: 2px;
      padding-top: 15px;
    }
  }
  